<!DOCTYPE html>
<html>
  <head>
    <title>Puzzle rush by Maddy</title>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <link href="./index.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-app-bar>
            <v-spacer></v-spacer>
            <v-toolbar-title> Score: {{score}} </v-toolbar-title>
            <v-spacer></v-spacer>
          </v-app-bar>

          <v-container>
            <v-row justify="center" no-gutters>
              <v-col cols="12" lg="7" :class="{face: count}">
                <v-row dense justify="center" v-for="(row, rowIndex) in rows" :key="rowIndex">
                  <v-col cols="2" sm="1" v-for="(col, colIndex) in cols" :key="colIndex">
                    <v-responsive :aspect-ratio="1">
                      <v-btn
                        :key="key"
                        depressed
                        block
                        height="100%"
                        class="white--text pa-0"
                        :color="getValue(colIndex, getRow(rowIndex), 'color')"
                        @click="onClick(colIndex, getRow(rowIndex))"
                      >
                        <template v-if="getValue(colIndex, getRow(rowIndex), 'multiplier') > 1">
                          x
                          <span class="text-h5 font-weight-bold">
                            {{getValue(colIndex, getRow(rowIndex), 'multiplier')}}
                          </span>
                        </template>
                      </v-btn>
                    </v-responsive>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>

            <v-btn fab fixed bottom right color="primary" @click="pushData()" class="text-h4">
              +
            </v-btn>
          </v-container>

          <v-dialog v-model="dialog" width="500">
            <v-card>
              <v-card-title class="text-h4 justify-center"> Game over </v-card-title>

              <v-card-title class="text-h5 justify-center"> Score: {{score}} </v-card-title>

              <v-card-actions class="justify-center">
                <v-btn color="primary" text @click="start()"> Try again </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => {
          return {
            key: 0,
            rows: 12,
            cols: 12,
            score: 0,
            count: 0,
            dialog: false,
            data: [],
            colors: ['#ff595e', '#ffca3a', '#8ac926', '#1982c4', '#6a4c93'],
          };
        },
        created() {
          if (this.$vuetify.breakpoint.xs) {
            this.cols = 6;
          }

          this.start();
        },
        methods: {
          start() {
            this.score = 0;

            this.pushData();
            this.interval = setInterval(() => {
              this.pushData();
            }, 5000);

            this.dialog = false;
          },

          pushData() {
            if (this.data.every((row) => row.length < this.rows)) {
              this.count = 0;

              for (let index = 0; index < this.cols; index++) {
                this.data[index] = this.data[index] || [];

                const value = {
                  color: this.colors[_.random(3)],
                  multiplier: 1,
                };

                if (index === _.random(this.cols)) {
                  value.multiplier = _.random(2, 4);
                }

                this.data[index].unshift(value);
              }

              this.key++;
            } else {
              this.count++;

              if (this.count > 2) {
                this.data = [];
                this.count = 0;
                this.dialog = true;
                clearInterval(this.interval);
              }
            }
          },

          getRow(row) {
            return this.rows - row - 1; // to display rows vertically bottom to top
          },

          getValue(row, col, key) {
            return this.data[row] && this.data[row][col] && this.data[row][col][key];
          },

          getNeighbors(row, col) {
            const array = [];

            const closer = (_row, _col) => {
              if (this.data[_row] && this.data[_row][_col]) {
                array.push({ row: _row, col: _col, value: this.data[_row][_col] });
              }
            };

            // 4,4
            closer(row + 1, col); // 5,4
            closer(row, col + 1); // 4,5
            closer(row, col - 1); // 4,3
            closer(row - 1, col); // 3,4

            return array;
          },

          rGetMatched({ row, col, value }, object = {}) {
            if (!object[`${row}x${col}`]) {
              object[`${row}x${col}`] = value.multiplier;

              const neighbors = this.getNeighbors(row, col);

              neighbors.forEach((neighbor) => {
                if (neighbor.value.color == value.color) {
                  this.rGetMatched(neighbor, object);
                }
              });

              const keys = Object.keys(object);
              if (keys.length > 2) {
                return _.orderBy(keys, [], 'desc').map((key) => {
                  const [row, col] = key.split('x');
                  return { row, col, multiplier: object[key] };
                });
              }
            }
          },

          onClick(row, col) {
            const value = this.data[row][col];

            if (value) {
              const matched = this.rGetMatched({ row, col, value });

              if (matched) {
                let multiplier = 1;

                matched.forEach((item) => {
                  multiplier *= item.multiplier;

                  this.data[item.row].splice(item.col, 1);

                  if (!this.data[item.row].length) {
                    this.data.splice(item.row, 1);
                  }
                });

                this.score += matched.length * multiplier;

                this.key++;
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
